body {
  background:url("bg.jpg");
}
ul
{
    list-style: none;
    float: right;
}
ul li {
    display:inline-block;
    margin: 0%;
    padding: 5px;   
}
ul li a {
text-decoration:none;
border: black;
padding: 2px;
transition: 0.8s ease;
color:white;
}
